* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 425px;
  margin: auto;
}

img {
  object-fit: cover;
}

.container {
  background-color: #e7e4e4;
  display: block;
}

.upper-baby {
  height: 150px;
  background: url(new-born.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:20px;
}

.roll-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  color: white;
  cursor: pointer;
  
}
.roll-one img {
  height: 50px;
  width: 50px;
}

.search {
  border-radius: 20px;
  background-color: white;
  margin: -15px auto 0;
  width: 70%;
  height: 30px;
  border: #fff 1px solid;
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-shadow: 0 2px 10px #313131;
}

.search input {
  padding-left: 5px;
  border: none;
  height: 100%;
  width: 90%;
  border-radius: 10px;
}

.search input:focus {
  outline: none;
}

.search span {
  padding: 10px;
  cursor: pointer;
}
h1 {
  text-align: center;
}

img {
  padding: 8px;
  height: 165px;
  width: 168px;
  border-radius: 25px;
  cursor: pointer;
}
.images-page {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 20px;
  justify-content: center;

}

.lecture,
.pregnant {
  position: relative;
}

.lecture h2,
.pregnant h2 {
  position: absolute;
  height: 30px;
  bottom: 12px;
  left: 10px;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  font-size: large;
  padding: 3px;
}

.lecture img,
.pregnant img {
  height: 230px;
}

.baby,
.kid,
.children,
.ring,
.chemical,
.back,
.sch,
.math,
.woman,
.new-born{
  position: relative;
}

.baby h2,
.kid h2,
.children h2,
.ring h2,
.chemical h2,
.back h2 ,
.sch h2,
.math h2,
.woman h2,
.new-born h2{ 
  font-size: large;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #fff;
  color: #000;
  border-radius: 5px;
  padding: 3px;
}
@media (max-width:425px) {
   body {
    width: 100%;
   }
   
   .images-page img {
    width: 100%;
   }
}
